                    <div class="row" style="width: 100%;text-align: center;">
                        <span class="badge badge-secondary"><i class="fa fa-info-circle"></i> Select a key followed by its paired key.</span>
                    </div>
                    <div class="row">
                        <div class="key" id="key_Q" data-value="Q" data-mappedTo="">Q</div>
                        <div class="key" id="key_W" data-value="W" data-mappedTo="">W</div>
                        <div class="key" id="key_E" data-value="E" data-mappedTo="">E</div>
                        <div class="key" id="key_R" data-value="R" data-mappedTo="">R</div>
                        <div class="key" id="key_T" data-value="T" data-mappedTo="">T</div>
                        <div class="key" id="key_Y" data-value="Y" data-mappedTo="">Y</div>
                        <div class="key" id="key_U" data-value="U" data-mappedTo="">U</div>
                        <div class="key" id="key_I" data-value="I" data-mappedTo="">I</div>
                        <div class="key" id="key_O" data-value="O" data-mappedTo="">O</div>
                        <div class="key" id="key_P" data-mappedTo="">P</div>
                    </div>
                    <div class="row second_row">
                        <div class="key" id="key_A" data-value="A" data-mappedTo="">A</div>
                        <div class="key" id="key_S" data-value="S" data-mappedTo="">S</div>
                        <div class="key" id="key_D" data-value="D" data-mappedTo="">D</div>
                        <div class="key" id="key_F" data-value="F" data-mappedTo="">F</div>
                        <div class="key" id="key_G" data-value="G" data-mappedTo="">G</div>
                        <div class="key" id="key_H"data-value="H" data-mappedTo="">H</div>
                        <div class="key" id="key_J" data-value="J" data-mappedTo="">J</div>
                        <div class="key" id="key_K" data-value="K" data-mappedTo="">K</div>
                        <div class="key" id="key_L" data-value="L" data-mappedTo="">L</div>
                    </div>
                    <div class="row last_row">
                        <div class="key" id="key_Z" data-value="Z" data-mappedTo="">Z</div>
                        <div class="key" id="key_X" data-value="X" data-mappedTo="">X</div>
                        <div class="key" id="key_C" data-value="C" data-mappedTo="">C</div>
                        <div class="key" id="key_V" data-value="V" data-mappedTo="">V</div>
                        <div class="key" id="key_B" data-value="B" data-mappedTo="">B</div>
                        <div class="key" id="key_N" data-value="N" data-mappedTo="">N</div>
                        <div class="key" id="key_M" data-value="M" data-mappedTo="">M</div>
                    </div>
                    <br />

